/* Themes */

:root {
    --bg-img: url("../images/blue-yellow.jpg");
    --bg-color: rgb(255, 255, 255, 0.8);
    --primary-color: #343C49;
    --secondary-color: #E5AC5C;
    --font-color: rgb(30, 28, 31);
    --footer-color: rgb(255, 92, 51);
    --bold-color: black;
    --add-info-color: grey;
}

[data-theme="alternative"] {
    --bg-img: url("../images/peacock.png");
    --bg-color: rgb(255, 255, 255, 0.9);
    --primary-color: rgb(10, 110, 77);
    --secondary-color: #6DA77C;
    /*--secondary-color: rgb(33, 68, 124);*/
    --font-color: rgb(30, 28, 31);
    --footer-color: rgb(236, 173, 37);
    --bold-color: black;
    --add-info-color: grey;
}

/* Toogle switch */

.theme-switch-wrapper {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#toggle-text {
      margin-left: 10px;
      font-size: 1rem;
}
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* All */

@keyframes heartbeat {
0%{
    transform: scaleX(1);
}
25%{
    transform: scaleX(1.2);
}
27%{
    transform: scaleX(1.3);
}
29%{
    transform: scaleX(1);
}
}


/* Mise en page globale */

html {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

body {
    background-image: var(--bg-img);
}

#logo {
    height: 10%;
    position: fixed;
    Top: 0;
    margin: 1% 95% 98% 5%;
    animation: heartbeat 1s infinite alternate
}

header, #wrapper {
    margin: 1em auto;
    width: 70%;
}

/* Header */

header {
    background-color: var(--bg-color);
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    h1:hover {
        color: var(--primary-color);
    }

    #nav-list > li:hover {
    color: var(--secondary-color);
    }

#navigation {
    width:20%;
}

#nav-list {
    display: flex;
    justify-content: space-between;
}

#nav-list > li {
    color: var(--primary-color);
    font-weight: bold;
}

/* Main */

#wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#first-section, #second-section {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    text-align: justify;
    width:49%;
    margin-top: 1px;
}


.topic {
    padding: 1.5em;
    margin-bottom: 1em;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--font-color);
    border-radius: 5px;
}

h1, h2, h3, #footer-text {
    text-shadow: 1px 1px 1px black;
}

h1 {
    width: 100%;
    color: var(--secondary-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3em;
    text-transform: capitalize;
    padding: .1em;
}

h2 {
    width: 100%;
    color: var(--primary-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    text-transform: none;
}

h3 {
    color: var(--secondary-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3em;
    text-transform: none;
    margin: .9em;
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    text-transform: none;
    margin: .5em;
}

.gras {
    font-weight: bold;
    color: var(--bold-color);
}

.additional-info {
    font-style: italic;
    color: var(--add-info-color);
    font-size: .9em;
}

li {
    line-height: 1.8em;
    margin-bottom: .7em;
}

.list-level-two {
    margin-left: 1em;
    font-size: .9em;
    list-style: square;
}

/* Footer */

#footer-text {
    text-align: center;
    font-size: 1.1em;
    color: var(--footer-color);
    margin: 1em;
}


/* Responsive Web Design */


@media (max-width: 600px) {

    #logo {
        display: none;
    }

    #wrapper {
        display: block;
    }

    #first-section, #second-section {
        width:100%;
    }

    #navigation {
        width:90%;
    }

/* Modification des polices */

    html {
        font-size: .8em;
    }

    h1 {
        font-size: 1.9em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
    }

    .additional-info {
        font-size: .7em;
    }
    
    .list-level-two {
        font-size: .7em;
    }

}

@media (max-width: 800px) {

    #logo {
        display: none;
    }

    #wrapper {
        display: block;
    }

    #first-section, #second-section {
        width:100%;
    }

    #navigation {
        width:70%;
    }

/* Modification des polices */

    html {
        font-size: .8em;
    }

    h1 {
        font-size: 1.9em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
    }

    .additional-info {
        font-size: .7em;
    }
    
    .list-level-two {
        font-size: .7em;
    }


}

@media (max-width: 1000px) {

    #logo {
        display: none;
    }

    #wrapper {
        display: block;
    }

    #first-section, #second-section {
        width:100%;
    }

    #navigation {
        width:50%;
    }

/* Modification des polices */

    html {
        font-size: .8em;
    }

    h1 {
        font-size: 1.9em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
    }

    .additional-info {
        font-size: .7em;
    }
    
    .list-level-two {
        font-size: .7em;
    }


}

